{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
{% include "include/notif.html.twig" %}
{% include "include/maps.html.twig" %}
{% include "include/filtre.html.twig" %}

    <style>
          /* Shadow des interface du site */
          .shadow{
            box-shadow: 6px -1px 91px 15px rgba(110,110,110,0.75);
            -webkit-box-shadow: 6px -1px 91px 15px rgba(110,110,110,0.75);
            -moz-box-shadow: 6px -1px 91px 15px rgba(110,110,110,0.75);
          }

          /* Couleur Icon Popup Visiteur*/
          .color {
          color: #fcd34d;
          }

          .arondi{
            border-radius: 15px 0px;
          }
    </style>  


    <a href="{{ path('panier_show') }}">
      <button class="rotate z-50 bg-yellow-200 w-20 h-20 absolute top-0 right-0 absolute mt-16 mr-32 rounded-full border-yellow-900 border-4 border-opacity-25"><i class="fas fa-shopping-basket fa-3x"></i><a href="{{ path('panier_show') }}"></a></button>
    </a>

    <a href="{{ path('login_security') }}">
      <button class="rotate z-50 bg-yellow-200 w-20 h-20 absolute mt-16 ml-8 rounded-full border-yellow-900 border-4 border-opacity-25"><i class="fad fa-wheat fa-3x"></i><a href="{{ path('login_security') }}"></a></button>
    </a>

    <button class="rotate z-50 bg-yellow-200 w-20 h-20 top-0 right-0 absolute mt-16 mr-8 rounded-full border-yellow-900 border-4 border-opacity-25" onclick=" openFiltre() "><i class="fas fa-filter fa-2x mt-2 mr-0"></i></button>
    
    
    
    <div class=" h-screen w-screen">
      <div id="map" class="z-20 w-full h-full"></div>
    </div>


{# Popup Accueil#}
    <div id="popupMain" class="z-50 shadow bg-white w-4/6 h-5/6 top-0 right-0 absolute mr-80 mt-20 mr-8 rounded-2xl"  
      {% if cookies == true %}style="display: none;"{% endif %}>
      
      <div class="z-10 absolute left-0 arondi" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-51.91,155.90 C213.85,138.09 -32.20,2.54 461.60,-13.29 L190.77,-108.28 L-14.18,-33.08 Z" style="stroke: none; fill: #fde68a;"></path></svg></div>
      
      {# Logo Matete #}
            <div class="flex justify-center mt-12 mb-8" >
                <img class="w-3/12 h-3/12" src="{{ asset('image/logotexte.png') }}">
            </div>
      {# Ligne N°1 #}
            <div class="flex justify-centrer mx-auto h-3/6 mr-8 mb-20">
                {# Colonne Gauche #}
                <div class="flex-col justify-center mx-auto mt-6 ml-4 w-5/12  text-center ">
                <img src="{{ asset('image/iconVisiteur.png') }}" class="mx-auto w-3/12 h-1/5 mt-20 mb-16 "><br> 
                  <label  class=" text-2xl text-center font-bold ">Espace Visiteur</label><br><br>
                  <label  class="text-center font-bold" for="TextPopupDroite">Parcourez les annonces des producteurs rapidement grâce a notre carte intéractive ainsi que notre filtre !</label>
  
                    
                </div>
                <div class="z-30 w-px h-80 mt-20 mr-4 ml-4 bg-black relative mx-auto"></div>
                {# Colonne Milieu #}
                <div class="flex-col justify-center mx-auto mt-5 w-5/12  text-center  ">
                <img src="{{ asset('image/FermierHat.png') }}" class="mx-auto w-5/12 h-1/5 mt-20 mb-24">
                  <label  class="text-2xl text-center font-bold">Espace Producteur</label><br><br>
                  <label  class="text-center font-bold" for="TextPopupDroite">Mettre en vente vos produit est un jeu d'enfants grâce à note interface producteur pour commencer à mettre en vente votre produits !</label>
                  
                    
                    
                </div>
                <div class="z-30 w-px h-80 mt-20 mr-4 ml-4 bg-black relative mx-auto"></div>
                {# Colonne Droite #}    
                <div class="flex-col justify-center mx-auto mt-5 w-5/12  text-center">
                <img src="{{ asset('image/ApercuMobile.png') }}" class="w-full h-60 mb-2">
                <label  class="text-2xl text-center font-bold ">Notre Application</label><br><br>
                  <label  class=" text-center font-bold" for="TextPopupDroite">Vous pouvez utilisez dès maintenant notre application mobile afin de consulter à n'importe quel moment ou endroit, les annonces disponible !</label>
                  
                    
                    
                </div>
            </div>      
          <div class="mt-4 flex justify-center ">
          <button onclick="closeForm()" class=" z-20 w-2/12 p-2.5  bg-yellow-300 border-yellow-900 rounded-lg font-bold"><a> Fermer </a></button>
          </div>
          <div class="z-10 absolute  arondi  w-3/6 right-0 bottom-0 " style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M225.39,165.29 C350.67,23.19 343.34,208.71 525.05,-39.96 L535.77,187.99 L341.08,271.88 Z" style="stroke: none; fill: #fde68a;"></path></svg></div>
      
    </div>

{# Script Fermeture Popup Accueil#}
<script>
      function openForm() {
        document.getElementById("popupMain").style.display="block";
      }
      
      function closeForm() {
        document.getElementById("popupMain").style.display="none";
      }
    </script>

    

    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcjMuBEV0d_3WyEebBxToGVF6nE6ROUtI&callback=initMap&libraries=&v=weekly"
      async>
    </script>

<style>
  .rotate:hover{
    -webkit-transform: rotate(360deg);
    -webkit-transition-duration: 1s;
    -webkit-transition-delay: now;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
  }
</style>




{% endblock %}
