{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
{% include "include/maps.html.twig" %}
{% include "include/filtre.html.twig" %}
      {# Style panel producteur gauche #}
      <style>
      .shadow{
        box-shadow: 6px -1px 91px 15px rgba(110,110,110,0.75);
-webkit-box-shadow: 6px -1px 91px 15px rgba(110,110,110,0.75);
-moz-box-shadow: 6px -1px 91px 15px rgba(110,110,110,0.75);
      }
    </style>


    <style>
      .shadoww{
        -webkit-box-shadow: 1px 0px 15px 11px rgba(0,0,0,0.2); 
box-shadow: 1px 0px 15px 11px rgba(0,0,0,0.2);
      }

      ::-webkit-scrollbar{
width: 13px;
height: 13px;
}
::-webkit-scrollbar-thumb{
background: #B3AFB3;
border-radius: 9px;
}
::-webkit-scrollbar-thumb:hover{
background: #B3AFB3;
}
::-webkit-scrollbar-track{
background: #FFFFFF;
border-radius: 9px;
box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}
      
    </style>




    {# Pastille de statut #}
    <style>
      .statutvert{
        color:green;
      }
      .statutrouge{
        color:red;
        
      }
    </style>
    
    <div>
      {# Bouton panier #}
      <a href="{{ path('panier_show') }}">
        <button class="rotate z-50 bg-yellow-200 w-20 h-20 absolute top-0 right-0 absolute mt-16 mr-32 rounded-full border-yellow-900 border-4 border-opacity-25"><i class="fas fa-shopping-basket fa-3x"></i><a href="{{ path('panier_show') }}"></a></button>
      </a>
    </div>
    
        <button class="rotate z-50 bg-yellow-200 w-20 h-20 top-0 right-0 absolute mt-16 mr-8 rounded-full border-yellow-900 border-4 border-opacity-25" onclick=" openFiltre() "><i class="fas fa-filter fa-2x mt-2 mr-0"></i></button>

    
    

    {# Panel de gauche #}
    <div class="z-30 w-4/12 h-screen  shadow mx-auto rounded-2xl bg-gray-50 absolute">
      
        <div class="z-20 flex ml-8 ">
               <div class="z-10 absolute left-0" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-51.91,155.90 C213.85,138.09 -32.20,2.54 461.60,-13.29 L190.77,-108.28 L-14.18,-33.08 Z" style="stroke: none; fill: #fde68a;"></path></svg></div>
   
              {# Colonne Bouton IMAGE/TEXT #}
                      
              <div class="flex-col ml-5">          
                {# Image de profil #}
                {% set foo = random(6) %}
                
                  <div class="ml-10 mr-20 relative  flex-auto   ">
                    <img class="z-30  rounded-full relative w-48 h-32 mt-4 " src="{{ asset('image/' ~ foo ~ '.png') }}" alt="">
                    {# Information de l'utilisateur #}
                    <div class="rounded-lg text-2xl rounded-3xl  ml-8 mt-2 relative w-full h-32 ">
                      <p class="" id="info">Nom : {{app.user.nom}}</p>
                      <p class="" id="info">Prenom : {{app.user.prenom}}</p>
                      {# <p class="mt-4" id="info">Email : {{app.user.mail}}</p>
                      <p class="mt-4" id="info">Tel : {{app.user.tel}}</p> #}
                    </div>
                  </div>
              </div>

              {# Colonne Bouton GESTION/PANEL #}

              <div class="flex-col mt-2">
                  <div class="mb-12" >
                    {# Bouton Gestion de compte #}
                    <a href="{{ path('producteur_show',{'id':app.user.id}) }}">
                      <button class="z-30  w-5/6 h-16 shadow-2xl  bg-yellow-200  rounded-2xl relative top-6 mr-16 ml-4 text-lg font-sans font-bold" onclick="{{ path('producteur_show',{'id':app.user.id}) }}"><i class="">Gestion de Compte</i></button>
                    </a>
                  </div>

                  <div>
                    {# Bouton Panel Admin #}
                    {# <a href="{{ path('producteur_show',{'id':app.user.id}) }}">
                      <button class="z-30 w-5/6 h-16 shadow-2xl  bg-yellow-200  rounded-2xl relative top-6 mr-16 ml-4 text-lg font-sans font-bold" onclick="{{ path('producteur_show',{'id':app.user.id}) }}"><i class="">Panel Admin</i></button>
                    </a> #}
                  </div>
              </div>

            {# Ligne des Bouton Ajout Annonce et Déconnexion #}
              <div class="flex"> 
                <div>
                  {# Bouton pour ajouter un lieu #}
                  <a href="{{ path('lieu_new') }}">
                    <button class="z-50 bg-yellow-200 w-2/6 h-16  absolute left-64 bottom-4  rounded-2xl border-yellow-900 text-lg font-sans font-bold " onclick="{{ path('lieu_new') }}"><i class="">Ajouter un Lieu</i></button>
                  </a>
                </div> 
                <div>
                  {# Bouton pour ajouter une annonce #}
                  <a href="{{ path('annonce_new') }}">
                    <button class="z-50 bg-yellow-200 w-2/6 h-16  absolute left-4 bottom-4  rounded-2xl border-yellow-900 text-lg font-sans font-bold " onclick="{{ path('annonce_new') }}"><i class="">Ajouter une Annonce</i></button>
                  </a>
                </div>

                <div>
                  {# Bouton pour déconnecter #}
                  <a href="{{ path('logout_security') }}">
                    <button class="rotate z-50 bg-yellow-200 w-20 h-20  absolute right-4 bottom-4  rounded-full border-yellow-900 border-4 border-opacity-25" onclick="{{ path('logout_security') }}"><i class="fas fa-sign-out fa-3x mr-0"></i></button>
                  </a>
                </div>
              </div>  
            
        </div>  
          {# Ligne Séparation Info / Listes des annonces#}
            <div class="z-30 w-80 h-px  bg-black relative mx-auto  mb-2 "></div>

            {# Liste annonces #}
            
                <div  class="z-30 scroll relative mx-auto"><i class="flex justify-center text-3xl">Liste de vos annonces</i></div>
                <div  style="overflow-y:scroll; height:510px;">
                  {% for annonce in tableauAnnonce %}
                  {# Zone annonces #}
                  <div  class="z-30 shadoww bg-yellow-200 w-5/6 h-32 mr-8 rounded-3xl mb-10 mt-6 ml-10">
                      {# Libellé Produit#}
                      <div class="flex inline">
                        <div class="ml-12 mt-1 w-40 mr-8">
                          <div class="relative z-50  h-6 top-2  mb-2 "><i class="text-2xl flex justify-center " >{{ annonce.libelle}}</i></div>
                          {# Catégorie Produit#}
                          <div class="relative z-50 w-5/6 h-6 top-2 ml-8 "><i class="text-1xl ml-4">{{ annonce.categorie }}</i></div>
                        </div>
                          {# Zone quantite prix statut #} 
                          <div class="relative z-40 bg-white w-3/6 h-16  rounded-full  top-3 mb-4 ">
                            
                              {# Zone Quantite Prix #}
                              <div class="flex inline">
                                <div>
                                {# Quantite #}
                                  <div class="relative z-50 w-5/6 h-6 top-2 ml-8 "><i >Quantité : {{ annonce.quantite}}</i></div>
                                {# Prix #}
                                  <div class="relative z-50 w-3/6 h-6 top-3 ml-8"><i >Prix : {{ annonce.prix}}</i></div>
                                </div>
                              {# Statut #}
                                {% if annonce.status == "EnLigne" %}
                                  <i class="z-40 relative fas fa-circle fa-2x ml-10 mt-4 bg-black border-2 border-black rounded-full  statutvert "  ></i>
                                {% else %}
                                  <i class="z-40 relative fas fa-circle statutrouge fa-2x ml-10 mt-4 bg-black border-2 border-black rounded-full "></i>
                                {% endif %}
                              </div>
                          </div>
                          
                      </div> 
                      {# Zones Bouton Detail et Dates#}
                      <div class="flex inline ">
                        {# Bouton Detail#}
                        <a href="{{ path('annonce_edit',{'id':annonce.id}) }}" >
                        <button name="detailAnnonce" class="flex bg-yellow-300  p-2 w-6/12 rounded-lg  ml-20 mr-12 " id="detailAnnonce" onclick="{{ path('annonce_edit',{'id':annonce.id}) }}"><i class="flex mx-auto">Détail</i></button></a>
                        {# Zone Date début #}
                        <div class="relative z-40 bg-white w-3/12 h-6  rounded-full ml-10 mr-4 top-3 "><i class="flex justify-center">{{ annonce.cDebut | date('d/m H:i') }}</i></div>
                        {# Zone Date Fin #}
                        <div class="relative z-40 bg-white w-3/12 h-6  rounded-full   top-3 "><i class="flex justify-center">{{ annonce.cDebut | date('d/m H:i') }}</i></div>
                      </div>
                      
                  </div>
                  {% endfor %}
               </div>
          </div>
    </div>


    {# Map google #}
    <div class=" h-screen w-9/12 right-0 absolute">
      <div id="map" class="z-20 w-full h-full"></div>
    </div>


    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcjMuBEV0d_3WyEebBxToGVF6nE6ROUtI&callback=initMap&libraries=&v=weekly"
      async>
    </script>

<style>
  .rotate:hover{
    -webkit-transform: rotate(360deg);
    -webkit-transition-duration: 1s;
    -webkit-transition-delay: now;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
  }
</style>
{% endblock %}
